<div class="contenedor">

    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
  
      <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="login()">
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="usuario"
                type="text"
                formControlName='usuario'>
            <mat-error *ngIf="campoValido('usuario')">{{UserErrorMsg}}</mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input 
                matInput 
                placeholder="Password"
                type="password"
                formControlName='password'>
            <mat-error *ngIf="campoValido('password')">Ingresa una contraseña</mat-error>
          </mat-form-field>
        <button 
          mat-raised-button 
          color="primary" >Login</button>
      </form>
    </mat-card>
  
  </div>
